<h2>Cat-Facts</h2>
<div class="row">
    <div class="col-6">
        <form [formGroup]="formsearch">
            <div class="input-group">
                <div class="col-sm-2">
                    <label class="col-form-label">B&uacute;squeda:</label>
                </div>
                <div class="col-sm-6" [ngClass]=" {'has-danger': !formsearch.get('searchControl').valid }">
                    <input type="text" formControlName="searchControl" form placeholder="Especifique el primer nombre " class="form-control">
                </div>
            </div>
        </form>

    </div>
</div>
<br>
<div class="row" *ngIf="mesageFacts!=null">
    <div class="col-6">
        <div class="alert alert-danger" role="alert">
            {{mesageFacts}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table" *ngIf="responseArrayUsers!=null">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">AddedBy</th>
                    <th scope="col">Fact</th>
                    <th scope="col">Votes</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of responseArrayUsers">
                <tr *ngIf="item!= null && item.user!= null">
                    <td>
                        {{item.user.name.first}} <br> {{item.user.name.last}}
                    </td>
                    <td>
                        {{item.text}}
                    </td>

                    <td>
                        {{item.upvotes}}
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>