 FACTS

<div class="row">
    <div class="col-6">
        <button type="button" id="btnGoogle" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </button>
    </div>
</div>
<div class="row">
    <div class="col-6">


        <table class="table" *ngIf="responseArrayUsers!=null">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">AddedBy</th>
                    <th scope="col">Fact</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of responseArrayUsers">
                <tr *ngIf="item!= null">
                    <td>
                        {{item.user.name.first}} <br> {{item.user.name.last}}
                    </td>
                    <td>
                        {{item.type}}
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</div>